<template>
	<div class='headerContainer'>
		<img class='logo' :src='header.company.logo.src'>
		<div class='company'>{{ header.company.name }}</div>
		<div class='title'>{{ header.title }}</div>
		<a class='repo' :href='header.repo.src' target='_blank'>{{ header.repo.name }}</a>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	computed: {
		...mapGetters({ header: 'header/header' }),
	},
};
</script>

<style lang='scss' scoped>
div.headerContainer {
	background: rgb(120,110,100);
	font-family: 'Orbitron', sans-serif;
	height: 45px;
	width: 100%;

	img.logo {
		position: absolute;
		left: 8px;
		top: 6px;
		height: 35px;
		width: 35px;
	}

	div.company {
		position: absolute;
		font-size: 1.3em;
		left: 50px;
		top: 13px;
	}

	div.title {
		position: absolute;
		color: rgb(160,0,0);
		font-size: 1.05em;
		left: 245px;
		top: 17px;
	}

	a.repo {
		position: absolute;
		color: rgb(0,0,0);
		font-size: .9em;
		right: 10px;
		top: 15px;
	}
}
</style>
