<template>
	<transition name='slide' appear>
	<div :class='[heatmap.id, { active: heatmap.active }]'>
    <p class='title'>UK Road Accidents</p>
		<div>
			<label>Coverage</label>
			<input id='coverage' type='range' min='0' max='1' step='0.1'
				:value='heatmap.coverage' />
			<span>{{ parseFloat(heatmap.coverage).toFixed(1) }}</span>
		</div>
		<br>
		<div>
			<label>Radius</label>
			<input id='radius' type='range' min='1000' max='5000' step='500'
				:value='heatmap.radius' />
			<span>{{ heatmap.radius }}</span>
		</div>
		<br>
		<div>
			<label>Upper Percentile</label>
			<input id='upperPercentile' type='range' min='80' max='100' step='1'
				:value='heatmap.upperPercentile' />
			<span>{{ heatmap.upperPercentile }}</span>
		</div>
		<br>
		<div>
			<button class='params' @click='resetParams'>Reset Parameters</button>
		</div>
		<div>
			<button class='map' @click='resetMap'>Reset Map</button>
		</div>
	</div>
	</transition>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
	computed: {
		...mapGetters({ heatmap: 'heatmap/heatmap' }),
	},
	methods: {
		...mapActions({
			resetParams: 'heatmap/resetParams',
			resetMap: 'heatmap/resetMap',
		}),
	},
};
</script>

<style lang='scss' scoped>
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
}

div.heatmap {
	position: absolute;
	padding: 8px 15px;
	background: rgb(160,150,140);
	border: 3px solid rgb(187,187,187);
	@include border-radius(4px);
	color: rgb(60,75,90);
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-size: 0.95em;
	visibility: hidden;
	right: 10px;
	top: 10px;
	width: 130px;

	button.map,
	button.params {
		padding: 2px 0;
		border: 2px solid rgb(187,187,187);
		color: rgb(60,75,90);
		cursor: pointer;
		font-family: 'Roboto', sans-serif;
		font-size: 0.9em;
		line-height: 1.4;
		width: 100%;
	}

	div input,
	div label,
	div span {
		cursor: pointer;
	}

	div input {
		width: 130px;
	}

	div label {
		line-height: 1.4;
	}

	div span {
		color: #fff;
		line-height: 1.4;
	}

  p.title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 12px;
  }
}

div.heatmap.active {
	visibility: visible;
}

.slide-enter-active {
	animation: slide-in 2s ease-out forwards;
}

@keyframes slide-in {
	from {
		transform: translateX(400px)
	}
	to {
		transform: translateX(0px)
	}
}
</style>
