<template>
	<div :class='icon.class' :height='icon.height' :width='icon.width'>
		<img :class='icon.id' :src='icon.src' :height='icon.height' :width='icon.width'
			@click.stop='selectLayer'>
	</div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
	props: {
		icon: {
			type: Object,
			required: true,
		},
	},
	methods: {
		...mapActions({ selectLayer: 'layers/selectLayer' }),
	},
};
</script>

<style lang='scss' scoped>
div {
	div.satellite-icon {
		position: absolute;
		cursor: pointer;
		left: 22px;
		top: 125px;
	}

	div.biosphere-icon {
		position: absolute;
		cursor: pointer;
		left: 23px;
		top: 158px;
	}

	div.office-icon {
		position: absolute;
		cursor: pointer;
		left: 22px;
		top: 186px;
	}

	div.places-icon {
		position: absolute;
		cursor: pointer;
		left: 22px;
		top: 216px;
	}

	div.trails-icon {
		position: absolute;
		cursor: pointer;
		left: 22px;
		top: 246px;
	}

	div.uber-icon {
		position: absolute;
		cursor: pointer;
		left: 22px;
		top: 277px;
	}
}
</style>
