<template>
	<div :class='[el.id, { active: el.active }]'>
		<ul :class='[el.id]'>
			<transition-group name='fade' appear>
				<LayerElements v-for='layer in layers' :key='layer.id' :el='layer' />
			</transition-group>
		</ul>
		<transition-group name='slide' appear>
			<LayerIcons v-for='layer in layers' :key='layer.id' :icon='layer' />
		</transition-group>
	</div>

</template>

<script>
import { mapGetters } from 'vuex';
import LayerElements from './LayerElements.vue';
import LayerIcons from './LayerIcons.vue';

export default {
	components: {
		LayerElements,
		LayerIcons,
	},
	computed: {
		...mapGetters({
			el: 'layers/el',
			layers: 'layers/layers',
		}),
	},
};
</script>

<style lang='scss' scoped>
div.layers {
	visibility: hidden;
}

div.layers.active {
	visibility: visible;
}

div.layers {
	ul.layers {
		position: absolute;
		left: 10px;
		top: 120px;
	}
}

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	transition: opacity 3s;
}

.slide-enter-active {
	animation: slide-in 1.5s ease-out forwards;
}

@keyframes slide-in {
	from {
		transform: translateX(-50px)
	}
	to {
		transform: translateX(0px)
	}
}
</style>
