<template>
	<div :class='map.class'>
		<div :id='map.settings.container'></div>
		<SplashScreen />
		<Layers />
		<Trails />
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import Layers from './Layers.vue';
import SplashScreen from './SplashScreen.vue';
import Trails from './Trails.vue';

export default {
	components: {
		Layers,
		SplashScreen,
		Trails,
	},
	computed: {
		...mapGetters({ map: 'map/map' }),
	},
};
</script>

<style lang='scss' scoped>
div.mapContainer,
div#map {
	position: absolute;
	height: 100%;
	width: 100%;
}
</style>
