<template>
	<transition name='slide' appear>
		<select :class='[el.id, { active: el.active }]' @change.stop='selectTrail'>
			<option v-for='trail in trails' :key='trail.name'>{{ trail.name }}</option>
		</select>
	</transition>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
	computed: {
		...mapGetters({
			el: 'trails/el',
			trails: 'trails/trails',
		}),
	},
	methods: {
		...mapActions({ selectTrail: 'trails/selectTrail' }),
	},
};
</script>

<style lang='scss' scoped>
select.trails {
	position: absolute;
	border-style: solid;
	font-family: 'Roboto', sans-serif;
	visibility: hidden;
	left: 10px;
	top: 320px;
	width: 126px;
}

select.trails.active {
	visibility: visible;
}

.slide-enter-active {
	animation: slide-in 1.5s ease-out forwards;
}

@keyframes slide-in {
	from {
		transform: translateX(-150px)
	}
	to {
		transform: translateX(0px)
	}
}
</style>
