<template>
	<div>
		<Header />
		<div :class='heatmap.class'>
			<div :id='heatmap.settings.container'></div>
			<Heatmap />
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import Header from '../components/Header.vue';
import Heatmap from '../components/Heatmap.vue';
import event from '../services/events';

export default {
	components: {
		Header,
		Heatmap,
	},
	computed: {
		...mapGetters({ heatmap: 'heatmap/heatmap' }),
	},
	mounted() {
		const { heatmap, splashScreen } = this.$store.state;

		!splashScreen.active ?
			event.emit('loadMap', heatmap.id) :
			this.$router.push('/');
	},
};
</script>

<style lang='scss' scoped>
div.heatmapContainer,
div#heatmap {
	position: absolute;
	height: 100%;
	width: 100%;
}
</style>
