<template>
	<div>
		<Header />
		<Map />
	</div>
</template>

<script>
import Header from '../components/Header.vue';
import Map from '../components/Map.vue';
import event from '../services/events';

export default {
	components: {
		Header,
		Map,
	},
	mounted() {
		const { map, splashScreen } = this.$store.state;

		splashScreen.active ?
			require('../services/observables').default.setObservables() :
			event.emit('setUIActive');

		event.emit('loadMap', map.id);
	},
};
</script>
